.menu {
    position: absolute;
    background-color: var(--background-color);
    border: 1px solid var(--text-color);
    padding: 0.1rem 0.3rem 0 0.3rem;
    margin: 1.2rem;
    border-radius: 8px;
}

.container { 
    display: inline-block;
    cursor: pointer;
}
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--text-color);
    margin: 6px 0;
    transition: 0.4s;
    pointer-events: none;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

nav {
    display: flex;
    flex-direction: column;
    margin: 0 0.2rem 0.4rem 0.2rem;
}

.do-not-show {
    display: none;
}