.cotation-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
}

h1 {
    text-align: center;
}

figure {
    align-self: flex-end;
    position: relative;
}

.img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.page-footer {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 100%;
}

.page-footer .gradient {
    background-image: linear-gradient(180deg,  rgba(255,255,255,0) , rgba(255,255,255,1));
    width: 100%;
    min-height: 40px;
}

.money-card-field {
    box-sizing: border-box;
    width: 50%;
}
