.background {
    background-color: var(--secondary-pink);
    padding: 1.2rem 3.6rem;
}

.howto-container {
    width: 70%; 
    margin: 0 auto;
}

.howto-container h2 {
    font-size: 3rem;
}

.card-field {
    display: flex;
    margin: 0.8rem;
    justify-content: space-between;
    align-items: center;
}

.card {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0.8rem;
}

.card h3 {
    margin: 0.8rem 0;
    font-size: 1.6rem;
}

.card p {
    font-size: 1.2rem;
    max-width: 200px; 
}

.card-image {
    max-width: 164px;
    max-height: 167px;
} 