.more-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    padding: 1.2rem 0;
}

.upper-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.2rem;
}

.text-area {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.text-area h2 {
    font-size: 2.4rem;       
}

.text-area p {
    text-align: justify;
    font-size: 1.2rem;
    max-width: 450px;
    margin-bottom: 2rem;
}

.text-area button {
    max-width: 50%;
}

.lower-info {
    display: flex;
    justify-content: space-between;
    margin: 1.2rem 0;
}

.lower-info h2 {
    font-size: 2rem;
}

.lower-info button {
    width: 20%;
}