.botao {
    outline: none;
    cursor: pointer;
    border: 2.5px solid #e6a647;
    background-color: var(--main-yellow);
    padding: 0.6rem 0.8rem;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    transition: background-color 0.3s;
    font-size: 1.2rem;
    min-width: 300px;
}

.botao:hover {
    background-color: #FFAF36;
}