.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1.2rem 3.6rem;
    width: 70%; 
}

.about-container .img {
    max-width: 288px;
    max-height: 432px;
}

.about-container button {
    width: 80%;
}

.text-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 1.2rem;
}

.text-area p {
    text-align: justify;
    max-width: 300px;
    margin: 1rem 0;
}