.money-card {
    background-color: var(--secondary-pink);
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 3.6rem;
    border-radius: 8px;
    margin: 1.2rem auto;
}

.money-code {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.money-code p {
    font-size: 1.6rem;
}

.money-code h3 {
    flex: 1;
    font-weight: bolder;
    font-size: 6rem;
}

.money-info {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: space-evenly;
    font-size: 2rem;
}

.money-info p:last-child {
    opacity: 0.9;
    font-size: 1.4rem;
    font-weight: 400;
}


