* {
  font-size: 100%;
  font: inherit;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Lora', serif;
}

h1,
h2 {
  font-family: 'VidaLoka', serif;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}